The map() function in python 

The map() function apples a given fcn to alll items in an input list(or any other iterable) and returns a map object (an iterator). this is perticurlary useful for transformatiion data in a list comprehensively.

In [1]:
def square(x):
    return x*x
square(10)

100

In [3]:
numbers=[1,2,3,4,5,6,7,8]
list[map(square,numbers)]##map function two parameter , 1) function 2) iterable (numbers)

list[<map object at 0x0000029B199DA230>]

In [4]:
##Lamda function with map 
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
##Map multiple iterables 
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=map(lambda x,y:x+y,numbers1,numbers2)
print(added_numbers)

<map object at 0x0000029B1967DA50>

In [6]:
##map() function to convert a list of strings to integers 
#Use map to convert strings to integers 

str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers))
print(int_numbers) ##Output:

[1, 2, 3, 4, 5]

In [7]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [8]:
def get_name(person):
    return person['name']
people=[
    {'name':'Deepak','age':25},
    {'name':'jack','age':44}
]

list(map(get_name,people))

['Deepak', 'jack']